.header {
  display: flex;
}
nav {
  justify-content: space-between;
  display: flex;
  align-item: center;
  margin: 12px;
  padding: 10px 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
